/* Html */

body{
    background-color: black;
    margin: 0;
    color: #fff;
}

nav ul{
    text-decoration: none;
    list-style: none;    
    position: absolute;
    right: 2%;
    top: 6%;
}

nav li {
    display: inline;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 5rem;
}

h2, h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;

}

/* Nav */

.header{
    height: 7rem;
}

.logo-nav {
    height: auto;
    width: 12rem;
}

.nav-item{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    display: inline;
    padding: 2rem 1rem;    
}

.title{
    width: 30%;
    padding: 10% 30% 15% 10%;
}

.title-heading {
    height: auto;
    display: inline;
}

.title img { 
    height: 500px;
    width: auto;
    border-radius: 60%;   
    position: absolute;
    right: 10%;  
    top: 50%;     
}

#Price{
    background-color: rgba(207, 7, 7, 0.603);
    padding: 13% 15%;
    border-top: dashed black 1.5rem;    
}

.price-container{
    margin: 0;
    display: inline-flex;
}

.price-title {
    margin: 0;
    font-weight: bold;
    font-style: italic;
    font-size: 5rem;
}

.price-block {
    text-align: right;
    position: relative;
    right: 35%;
    margin: 0 50% 0 50%;
}

.price-item {    
    padding: 0 5rem;
    display: inline-flex;
    
}

.price-img {
    padding-top: 3.5rem;
    width: 40rem;
    height: auto;
}

.item-title {
    padding-right: 15%;
}

#Contact {
    padding: 10% 15%;
    border-top: dashed rgba(207, 7, 7, 0.603) 1.5rem;
}

.contact-container {
    text-align: center;
}

.logo-contact {
    width: 35rem;
    height: 30rem;
}

.icon-color{
    color: #fff;
    font-size: 2.5rem;
    padding: 2rem .5rem;
}

.btn-container {
    margin-bottom: 2.5rem;
}

.btn {
    background: #BD061F;
    background-image: -webkit-linear-gradient(top, #BD061F, #700404);
    background-image: -moz-linear-gradient(top, #BD061F, #700404);
    background-image: -ms-linear-gradient(top, #BD061F, #700404);
    background-image: -o-linear-gradient(top, #BD061F, #700404);
    background-image: -webkit-gradient(to bottom, #BD061F, #700404);
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 38px;
    font-weight: 300;
    padding: 25px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 0 0 20px #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #000000 1px;
    background: #FD0404;
    background-image: -webkit-linear-gradient(top, #FD0404, #F74545);
    background-image: -moz-linear-gradient(top, #FD0404, #F74545);
    background-image: -ms-linear-gradient(top, #FD0404, #F74545);
    background-image: -o-linear-gradient(top, #FD0404, #F74545);
    background-image: -webkit-gradient(to bottom, #FD0404, #F74545);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 footer {
     text-align: center;
 }